@page
@model Shaos.Pages.System.Dashboard.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DashboardParameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DashboardParameter.Label" class="control-label"></label>
                <input asp-for="DashboardParameter.Label" class="form-control" />
                <span asp-validation-for="DashboardParameter.Label" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DashboardParameter.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-success" />
                <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
