@page
@model Shaos.Pages.ExportModel

<h1>Export Parameter</h1>

<hr />

<form method="post" asp-page-handler="export" asp-route-id="@Model.Id" asp-route-deviceId="@Model.DeviceId">
    <div class="row">
        <div class="col-sm-1">
            StartTime:
        </div>
        <div class="col-sm-3">
            <input asp-for="@Model.StartDateTime" type="datetime-local" class="form-control" />
        </div>
        <div class="col-sm-1">
            EndTime:
        </div>
        <div class="col-sm-3">
            <input asp-for="@Model.EndDateTime" type="datetime-local" class="form-control" />
        </div>
        <div class="col-sm-3">
            <button class="btn btn-sm btn-success">
                <svg bootstrap-icon="Download" width="18" height="18" aria-label="Export"></svg>
            </button>
            <a asp-page="/Index" class="btn btn-sm btn-primary">Back</a>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
