@page
@model Shaos.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
    int rowCount = Model.DashboardParameters.Count / Model.Columns;
}

<div class="container-fluid">
    @for (int i = 0; i < rowCount; i++)
    {
        <div class="row">
            @for (int j = 0; j < Model.Columns; j++)
            {
                <div class="col">@Model.DashboardParameters[j].Label</div>
            }
        </div>
    }
</div>
