@using Shaos.Repository.Models.Devices.Parameters

@model StringParameter

<div class="row">
    <div class="col-sm-1">@Model.Value</div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">@Model.UpdatedDate</div>
</div>