@page
@using Shaos.Sdk
@model Shaos.Pages.PlugInInstances.ConfigurationModel

<h1>Configuration</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <config-edit asp-for="@Model.Configuration"></config-edit>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-success" />
                <a asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}