@page
@model Shaos.Pages.PlugInInstances.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlugInInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PlugInInstance.Enabled" /> @Html.DisplayNameFor(_ => _.PlugInInstance.Enabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PlugInInstance.Name" class="control-label"></label>
                <input asp-for="PlugInInstance.Name" class="form-control" />
                <span asp-validation-for="PlugInInstance.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlugInInstance.Description" class="control-label"></label>
                <input asp-for="PlugInInstance.Description" class="form-control" />
                <span asp-validation-for="PlugInInstance.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-page-handler="Create" asp-route-id="@Model.Id" value="Create" class="btn btn-sm btn-primary" />
                <a asp-route-id="@Model.Id" asp-page="./Index" class="btn btn-sm btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
