@page
@model Shaos.Pages.Parameters.PlotModel
@{
}

<h1>Parameter Plot</h1>

<hr />

<div class="container-fluid">
    <canvas id="chartCanvas"></canvas>
</div>
<script id="settings" type="application/json">
    @Json.Serialize(Model.Settings)
</script>

<script src="~/lib/chart.js/dist/chart.umd.js"></script>
<script src="~/lib/moment.js/moment.min.js"></script>
<script src="~/lib/chartjs-adapter-moment/dist/chartjs-adapter-moment.js"></script>
<script src="~/lib/chartjs-plugin-streaming/dist/chartjs-plugin-streaming.js"></script>
<script src="~/js/parameter.js"></script>
