@page
@model Shaos.Pages.Parameters.PlotModel
@{
}

<h1>Parameter Plot</h1>

<hr />

<div class="container">
    <div class="chartContainer">
        <canvas id="chartCanvas"></canvas>
    </div>
</div>

<script id="data" type="application/json">
    @Json.Serialize(Model.Settings)
</script>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/chart.js/dist/chart.umd.min.js"></script>
<script src="~/js/parameter.plot.js"></script>