@page
@model Shaos.Pages.Dashboard.CreateModel

        @{
        ViewData["Title"] = "Create";
            Layout = "~/Pages/Shared/_Layout.cshtml";
        }
        
        <h1>Create</h1>
        
    <h4>DashboardConfiguration</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DashboardConfiguration.ParameterId" class="control-label"></label>
                <select asp-for="DashboardConfiguration.ParameterId" class ="form-control" asp-items="ViewBag.ParameterId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="DashboardConfiguration.CreatedDate" class="control-label"></label>
                <input asp-for="DashboardConfiguration.CreatedDate" class="form-control" />
                <span asp-validation-for="DashboardConfiguration.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DashboardConfiguration.UpdatedDate" class="control-label"></label>
                <input asp-for="DashboardConfiguration.UpdatedDate" class="form-control" />
                <span asp-validation-for="DashboardConfiguration.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
