@page
@model Shaos.Pages.System.Logging.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Logging Levels</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Minimum Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LoggingLevelSwitches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(_ => item.Value.MinimumLevel)
                </td>
                <td>
                    <a asp-page="./Override" asp-route-id="@item.Key" class="btn btn-sm btn-primary" title="Override Logging">
                        <span>
                            <svg bootstrap-icon="PencilSquare" width="24" height="24" aria-label="Override"></svg>
                        </span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Key" class="btn btn-sm btn-primary" title="Delete Logging Override">
                        <span>
                            <svg bootstrap-icon="Trash" width="24" height="24" aria-label="Delete"></svg>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
